# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Block these common files
*.test
*.sh
*.log
gomud
go.sum

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
out/linecount.json
out/linecount.txt
out/linecount.txt